<mat-card>
    <h1 class="spaced">Login</h1>
    <p class="spaced">Don't have an account? <a href="/register">Sign Up</a></p>
    <mat-card-content>
        <a class="spaced" matButton="outlined" href="/google-login">Log in with Google</a>
        <div class="divider">
            <span></span>
            <p style="padding: 0px 20px;">OR</p>
            <span></span>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-hint>Your email</mat-hint>
                    <input type="text" matInput formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-hint>Your password</mat-hint>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </p>

            @if (error) {
            <p class="error"> {{ error }} </p>
            }
            <a style='align-self: flex-end;' href="/password-reset">Forgot your password?</a>
            <button class="button spaced" matButton="filled">Log in</button>
        </form>
    </mat-card-content>
</mat-card>